In [1]:
import numpy as np

import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [13]:
dates = pd.date_range("20240312", periods=6)
dates

DatetimeIndex(['2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15',
               '2024-03-16', '2024-03-17'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [18]:
df

                   A         B         C         D
2024-03-12 -0.046239  1.243203 -1.060020  0.628050
2024-03-13 -1.166643 -1.679515 -0.155174 -1.521557
2024-03-14 -0.211367 -1.088267 -0.235095 -1.255681
2024-03-15  0.073596  1.838516 -0.081573  0.168612
2024-03-16 -0.228173  0.767253 -0.317219 -0.770247
2024-03-17 -0.688245 -0.895570 -0.300741 -2.279563

In [25]:
df2 = pd.DataFrame(

    {

        "A": 1.0,

        "B": pd.Timestamp("20130102"),

        "C": pd.Series(1, index=list(range(4)), dtype="float32"),

        "D": np.array([3] * 4, dtype="int32"),

        "E": pd.Categorical(["test", "train", "test", "train"]),

        "F": "foo",

    }

)

In [26]:
df2

     A          B    C   D      E    F
0  1.0 2013-01-02  1.0  34   test  foo
1  1.0 2013-01-02  1.0  34  train  foo
2  1.0 2013-01-02  1.0  34   test  foo
3  1.0 2013-01-02  1.0  34  train  foo

<bound method NDFrame.bool of      A          B    C   D      E    F
0  1.0 2013-01-02  1.0  34   test  foo
1  1.0 2013-01-02  1.0  34  train  foo
2  1.0 2013-01-02  1.0  34   test  foo
3  1.0 2013-01-02  1.0  34  train  foo>

In [35]:
df.head()   # 括号中参数默认是5

                   A         B         C         D
2024-03-12 -0.046239  1.243203 -1.060020  0.628050
2024-03-13 -1.166643 -1.679515 -0.155174 -1.521557
2024-03-14 -0.211367 -1.088267 -0.235095 -1.255681
2024-03-15  0.073596  1.838516 -0.081573  0.168612
2024-03-16 -0.228173  0.767253 -0.317219 -0.770247

In [33]:
df.tail(3)

                   A         B         C         D
2024-03-15  0.073596  1.838516 -0.081573  0.168612
2024-03-16 -0.228173  0.767253 -0.317219 -0.770247
2024-03-17 -0.688245 -0.895570 -0.300741 -2.279563

In [36]:
df.index

DatetimeIndex(['2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15',
               '2024-03-16', '2024-03-17'],
              dtype='datetime64[ns]', freq='D')

In [37]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [38]:
df.to_numpy()

array([[-0.04623855,  1.24320264, -1.06002033,  0.62804954],
       [-1.16664293, -1.67951513, -0.15517367, -1.52155683],
       [-0.21136734, -1.08826686, -0.23509521, -1.25568069],
       [ 0.07359575,  1.8385158 , -0.08157262,  0.16861235],
       [-0.22817262,  0.76725314, -0.31721864, -0.77024672],
       [-0.68824527, -0.89557039, -0.30074079, -2.2795632 ]])

In [39]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [40]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 34, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 34, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 34, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 34, 'train', 'foo']],
      dtype=object)

In [42]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.377845  0.030937 -0.358304 -0.838398
std    0.465280  1.436368  0.355086  1.085078
min   -1.166643 -1.679515 -1.060020 -2.279563
25%   -0.573227 -1.040093 -0.313099 -1.455088
50%   -0.219770 -0.064159 -0.267918 -1.012964
75%   -0.087521  1.124215 -0.175154 -0.066102
max    0.073596  1.838516 -0.081573  0.628050

count（计数）：每列的非空值数量。
mean（均值）：每列的平均值。
std（标准差）：每列的标准差。
min（最小值）：每列的最小值。
25%、50%、75%（分位数）：每列的第 25%、50%（中位数）、75% 位置的值。
max（最大值）：每列的最大值。